.chat-header{
  background-color: white;
  height: 8vh;
  border-radius: 3px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.250);
}

.user2ImgDiv{
  height: 40px !important;
  width: 40px !important;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  border-radius: 50%;
}

.chatbox{
  background-color: white;
  height: 70vh;
  border-radius: 3px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.250);
  overflow-y: scroll;
}

.msg{
  width: fit-content;
  background-color: skyblue;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.250);
}

.user-msg{
  background-color: rgb(79, 243, 115);
}

.msgTime{
  font-size: xx-small;
  position: relative;
  top: 5px;
}

.chat-input{
  background-color: white;
  height: 8vh;
  border-radius: 3px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.250);
}

.chat-input form{
  height: 100%;
}

.msg-input-field{
  height: 100%;
}