.dashboard{
  background-image: radial-gradient(#E6DADA,#274046);
  height: calc(100vh - 40px);
}

.dashboard .left{
  height: calc(100vh - 40px);
}
.dashboard .mid{
  height: calc(100vh - 40px);
}
.dashboard .right{
  height: calc(100vh - 40px);
}

::-webkit-scrollbar {
  display: none;
}