.dashboard{
  background-image: radial-gradient(#E6DADA,#274046);
  min-height: 92vh;
  padding-top: 8vh;
}

.dashboard .left{
  min-height: 92vh;
}
.dashboard .mid{
  min-height: 92vh;
}
.dashboard .right{
  min-height: 92vh;
}

::-webkit-scrollbar {
  display: none;
}