.dashboard{
  background-image: radial-gradient(#F2F2F2,#EAEAEA);
  height: calc(100vh - 40px);
}

.desktop{
  height: 100vh;
}

.bg-default{
  background-color: #cfe4f6;
}

.dashboard .left{
  height: calc(100vh - 40px);
}
.dashboard .mid{
  height: calc(100vh - 40px);
}
.dashboard .right{
  height: calc(100vh - 40px);
}

::-webkit-scrollbar {
  display: none;
}