.navbar{
  height: 40px;
  background-color: #cfe4f6 !important;
  color: black !important;
  border-bottom: solid black 1px;
}

.navbar .navigation-link{
  text-transform: none;
  text-decoration: none;
}

.navbar .mid-nav{
  border-right: solid black 1px;
  border-left: solid black 1px;
}

.navbar .navigation-link:hover{
  cursor: pointer;
}