.navbar{
  height: 40px;
  background-color: grey !important;
}

.navbar .navigation-link{
  text-transform: none;
  text-decoration: none;
  color: white;
}

.navbar .navigation-link:hover{
  cursor: pointer;
}