.profileEdit{
  background-image: linear-gradient(#232526,#414345);
  color: white;
  min-height: 47vh;
  padding-top: 50vh;
  border-radius: 3px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.250);
}

.profileEdit hr{
  background-color: white;
  height: 1px;
}

.profileEdit-container{
  background-image: radial-gradient(#E6DADA,#274046);
  height: calc(100vh - 40px);
}

.profileImgEditDiv{
  height: 90px !important;
  width: 90px !important;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  border-radius: 50%;
}

.edit-pic{
  background-color: rgb(26,132,120);
  color: white;
  border-radius: 50%;
  position: relative;
  left: 60px;
  top: 60px;
}
.edit-pic:hover{
  cursor: pointer;
}

.edit-pencil{
  color: rgb(26,132,120);
  border-radius: 50%;
}

.edit-input{
  background-color: rgb(219, 211, 211, 0.5);
  border: none;
  border-bottom: black 1px solid;
  border-radius: 3px;
}

.edit-input:focus{
  outline: none;
}

.img-input{
  width: 260px;
}
