.profileCard{
  background-color: white;
  height: max-content;
  border-radius: 3px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.250);
}

.profileImgDiv{
  height: 50px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  border-radius: 50%;
}

.interests{
  display: flex;
}

.interest-span{
  border-radius: 5px;
  color: black;
  font-weight: 450;
  box-shadow: 0px 1px 3px rgb(0, 0, 0);
}