.search{
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.250);
  min-height: 40vh;
}

.search-btn{
  border-radius: 50%;
}

.search-item{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.250);
}