@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
  font-family: 'Cabin', sans-serif;
}

/*Common*/
.bg-grey{
  background-color: grey;
}
.bg-red{
  background-color: red;
}
.bg-green{
  background-color: green;
}
.bg-blue{
  background-color: blue;
}
.bg-yellow{
  background-color: yellow;
}

.msg{
  color: black;
}

.back-btn{
  border-radius: 50%;
}

/*Register*/
.register{
  min-height: 100vh;
}
.register hr{
  background-color: black;
}
/*Login*/
.login{
  min-height: 100vh;
}
.login hr{
  background-color: black;
}
.App{
  background-color: #cfe4f6;
  color: black;
}