/*Common*/
.bg-grey{
  background-color: grey;
}
.bg-red{
  background-color: red;
}
.bg-green{
  background-color: green;
}
.bg-blue{
  background-color: blue;
}
.bg-yellow{
  background-color: yellow;
}

.msg{
  color: black;
}

.back-btn{
  border-radius: 50%;
}

/*Register*/
.register{
  min-height: 100vh;
}
.register hr{
  background-color: white;
}
/*Login*/
.login{
  min-height: 100vh;
}
.login hr{
  background-color: white;
}
.App{
  background-image: linear-gradient(#232526,#414345);
  color: white;
}